<main>
  <nav>
    <mat-toolbar color="primary">
      <img
        class="d-inline"
        src="assets/logo.svg"
        alt=""
        width="32"
        height="32"
      />
      <span>java-memory-calculator</span>
    </mat-toolbar>
  </nav>

  <div class="container">
    <div class="py-5 text-center">
      <p class="lead">
        This project is based on
        <a
          href="https://github.com/cloudfoundry/java-buildpack-memory-calculator"
          >Java Buildpack Memory Calculator</a
        >
        and implement exactly the same rules. <br />
        The aim is to help java users to define memomery configuration based on
        available memory.
      </p>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; 2017–2021 Company Name</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>
